<div class="container p-4">

    
          <a class="btn btn-secondary p-2 m-2" href="/usuarios/add/">
                        Agregar Usuario
        </a>

           
    <div class="row mt-3">
        {{#each links}}

        <div class="col-md-3">

            <div class="card text-center">
                <div class="card-body">

                    
                        <h3 class="card-title text-uppercase">
                            {{username}}
                        </h3>
                    </a>
                    <p class="m-2">{{fullname}}</p>
                    <p class="m-2">{{password}}</p>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/usuarios/delete/{{id}}">
                        Delete
                    </a>
                    <a class="btn btn-secondary" href="/usuarios/edit/{{id}}">
                        Edit
                    </a>

              

              
                </div>
            </div>
        </div>



  


        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not Links saved yet.</p>
                <a href="/usuarios/add">Create One!</a>
            </div>
        </div>
        {{/each}}


    </div>

    

   
</div>



           

